---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<'blog'> };
const { Content: RenderedContent } = await render(post);
const { title, description, heroImage } = post.data;
---

<BlogPost title={title} description={description} heroImage={heroImage}>
  <article class="pt-6 markdown-body">
    {heroImage && (
      <div class="mb-8">
        <Image
          class="border border-slate-300 dark:border-zinc-700 rounded-xl"
          width={720}
          height={360}
          src={heroImage}
          alt={title}
        />
      </div>
    )}
    <h1 class="text-3xl my-1 font-mplus">{title}</h1>
    {description && <p class="text-zinc-600 dark:text-zinc-400">{description}</p>}
    <hr class="border-t border-zinc-400 my-4" />
    <RenderedContent />
  </article>
</BlogPost>
