---
import Layout from '../../layouts/Layout.astro';
import Content from '../../components/Content.astro';
import BlogPost from '../../layouts/BlogPost.astro';

const {
  content: { title, description, heroImage }
} = Astro.props
---

<BlogPost
	title={title}
	description={description}
>
	 <main class="pt-[56px]">
      <Content className="pt-6 markdown-body">
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
      </Content>
    </main>
</BlogPost>
